<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springcolud.producer1.Mapper.PoidTimeMapper" >
  <resultMap id="BaseResultMap" type="com.springcolud.producer1.Model.PoidTime" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityName" property="cityname" jdbcType="VARCHAR" />
    <result column="areName" property="arename" jdbcType="VARCHAR" />
    <result column="forumName" property="forumname" jdbcType="VARCHAR" />
    <result column="domainName" property="domainname" jdbcType="VARCHAR" />
    <result column="typeName" property="typename" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="dateline" property="dateline" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="subjectContent" property="subjectcontent" jdbcType="VARCHAR" />
    <result column="answerContent" property="answercontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cityName, areName, forumName, domainName, typeName, subject, dateline, url, subjectContent, 
    answerContent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.springcolud.producer1.Model.PoidTimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from p_content_dflybds
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_content_dflybds
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_content_dflybds
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.springcolud.producer1.Model.PoidTimeExample" >
    delete from p_content_dflybds
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.springcolud.producer1.Model.PoidTime" >
    insert into p_content_dflybds (id, cityName, areName, 
      forumName, domainName, typeName, 
      subject, dateline, url, 
      subjectContent, answerContent)
    values (#{id,jdbcType=INTEGER}, #{cityname,jdbcType=VARCHAR}, #{arename,jdbcType=VARCHAR}, 
      #{forumname,jdbcType=VARCHAR}, #{domainname,jdbcType=VARCHAR}, #{typename,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{dateline,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{subjectcontent,jdbcType=VARCHAR}, #{answercontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springcolud.producer1.Model.PoidTime" >
    insert into p_content_dflybds
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityname != null" >
        cityName,
      </if>
      <if test="arename != null" >
        areName,
      </if>
      <if test="forumname != null" >
        forumName,
      </if>
      <if test="domainname != null" >
        domainName,
      </if>
      <if test="typename != null" >
        typeName,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="dateline != null" >
        dateline,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="subjectcontent != null" >
        subjectContent,
      </if>
      <if test="answercontent != null" >
        answerContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="arename != null" >
        #{arename,jdbcType=VARCHAR},
      </if>
      <if test="forumname != null" >
        #{forumname,jdbcType=VARCHAR},
      </if>
      <if test="domainname != null" >
        #{domainname,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="dateline != null" >
        #{dateline,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="subjectcontent != null" >
        #{subjectcontent,jdbcType=VARCHAR},
      </if>
      <if test="answercontent != null" >
        #{answercontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.springcolud.producer1.Model.PoidTimeExample" resultType="java.lang.Integer" >
    select count(*) from p_content_dflybds
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update p_content_dflybds
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cityname != null" >
        cityName = #{record.cityname,jdbcType=VARCHAR},
      </if>
      <if test="record.arename != null" >
        areName = #{record.arename,jdbcType=VARCHAR},
      </if>
      <if test="record.forumname != null" >
        forumName = #{record.forumname,jdbcType=VARCHAR},
      </if>
      <if test="record.domainname != null" >
        domainName = #{record.domainname,jdbcType=VARCHAR},
      </if>
      <if test="record.typename != null" >
        typeName = #{record.typename,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.dateline != null" >
        dateline = #{record.dateline,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectcontent != null" >
        subjectContent = #{record.subjectcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.answercontent != null" >
        answerContent = #{record.answercontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update p_content_dflybds
    set id = #{record.id,jdbcType=INTEGER},
      cityName = #{record.cityname,jdbcType=VARCHAR},
      areName = #{record.arename,jdbcType=VARCHAR},
      forumName = #{record.forumname,jdbcType=VARCHAR},
      domainName = #{record.domainname,jdbcType=VARCHAR},
      typeName = #{record.typename,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      dateline = #{record.dateline,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      subjectContent = #{record.subjectcontent,jdbcType=VARCHAR},
      answerContent = #{record.answercontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.springcolud.producer1.Model.PoidTime" >
    update p_content_dflybds
    <set >
      <if test="cityname != null" >
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="arename != null" >
        areName = #{arename,jdbcType=VARCHAR},
      </if>
      <if test="forumname != null" >
        forumName = #{forumname,jdbcType=VARCHAR},
      </if>
      <if test="domainname != null" >
        domainName = #{domainname,jdbcType=VARCHAR},
      </if>
      <if test="typename != null" >
        typeName = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="dateline != null" >
        dateline = #{dateline,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="subjectcontent != null" >
        subjectContent = #{subjectcontent,jdbcType=VARCHAR},
      </if>
      <if test="answercontent != null" >
        answerContent = #{answercontent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springcolud.producer1.Model.PoidTime" >
    update p_content_dflybds
    set cityName = #{cityname,jdbcType=VARCHAR},
      areName = #{arename,jdbcType=VARCHAR},
      forumName = #{forumname,jdbcType=VARCHAR},
      domainName = #{domainname,jdbcType=VARCHAR},
      typeName = #{typename,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      dateline = #{dateline,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      subjectContent = #{subjectcontent,jdbcType=VARCHAR},
      answerContent = #{answercontent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>